.profileContainer {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 5px;
    background-color: var(--content-bg);
    color: var(--header-nav-bg);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profilePhoto {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
}

.profileDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profileField {
    display: flex;
    gap: 5px;
}

.profileLabel {
    font-weight: bold;
}

.profileValue a {
    color: var(--link-color);
    text-decoration: none;
}

.profileValue a:hover {
    color: var(--link-hover-text);
    text-decoration: underline;
}

