.appHeader {

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px 20px;
}

.appHeaderLink {
    display: flex;
    align-items: center;
    text-decoration: none;
}