.sidebarContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--header-nav-bg);
    border-radius: 8px;
    box-shadow: 2px 0 5px var(--semi-transparent-border);
}

.sidebarList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebarItem {
    display: flex;
}

.sidebarLink {
    text-decoration: none;
    color: var(--link-color);
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebarLink:hover {
    background-color: var(--link-hover-bg);
    color: var(--link-hover-text);
}

.activeLink {
    font-weight: bold;
    background-color: var(--link-active-bg);
    color: var(--link-active-text);
}

/* Media Query Adjustments */
@media (max-width: 600px) {
    .sidebarList {
        flex-direction: row; /* Make links horizontal */
        gap: 8px; /* Reduced spacing for compact view */
    }

    .sidebarLink {
        font-size: 0.9rem; /* Adjust font size for smaller screens */
        padding: 8px; /* Reduce padding for smaller screens */
    }
}

