:root {
    /* Global Colors */
    --transparent-border: rgba(0, 0, 0, 0.1); /* Combined similar transparent borders */
    --semi-transparent-border: rgba(0, 0, 0, 0.2);

    /* Navigation and Header */
    --header-nav-bg: #282c34;

    /* Content Area */
    --content-bg: #61DAFB;

    /* Links */
    --link-color: #61DAFB;
    --link-hover-text: #FFD700;
    --active-link-color: #FFA500;

    /* Home */
    --text-color: #E0E0E0;
    --background-color: #282c34;
    --primary-color: #FF4500;

    /* Highlights */
    --highlight-color-yellow: #FFD700;
    --highlight-color-white: #ffffff;

    /* About Section */
    --about-bg: #F7F7F7;
    --about-text-color: #333333;
    --about-highlight-color: #FF4500;

    /* Contact Section */
    --contact-primary-color: #FF4500;
    --contact-bg: #F0F8FF;
    --contact-text-color: #333333;
    --contact-border-color: var(--semi-transparent-border);
}


/* Main container styling */
.App {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 150px 1fr; /* Sidebar is fixed at 150px */
    grid-template-areas:
        "App-header App-header"
        "App-nav App-content"
        "App-nav App-content";
    max-width: 1300px;
    max-height: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Assign each grid item its area */
.App-header {
    grid-area: App-header;
    max-width: 1300px;
    background-color: var(--header-nav-bg);
    padding: 20px;
    box-shadow: 0 4px 8px var(--transparent-border);
}

/* Sidebar navigation */
.App-nav {
    grid-area: App-nav;
    width: 150px;
    background-color: var(--header-nav-bg);
    padding: 10px;
    border-right: 1px solid var(--semi-transparent-border);
    box-shadow: 0 4px 8px var(--transparent-border);
}

/* Content area */
.App-content {
    grid-area: App-content;
    background-color: var(--content-bg);
    padding: 20px;
    box-shadow: 0 4px 8px var(--transparent-border);
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
    .App {
        grid-template-columns: 1fr;
        grid-template-areas:
            "App-header"
            "App-nav"
            "App-content";
        max-width: 100%;
        margin: 0;
    }

    .App-header,
    .App-content,
    .App-nav {
        max-width: 100%;
        padding: 10px;
    }

    .App-nav {
        border-right: none;
    }
}
